.next/cache/webpack/client-production/0.pack
.next/cache/webpack/server-production/0.pack
.next/cache/webpack/edge-server-production/0.pack
.next/cache/webpack/server-production/1.pack
node_modules/@next/swc-darwin-arm64/next-swc.darwin-arm64.node
.next/cache/.tsbuildinfo
/.next
/node_modules
/node_modules
node_modules/@jridgewell/gen-mapping/src/gen-mapping.ts
